<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.web.board.BoardRepository">
	<select id="findAll" resultType="BoardModel">
		SELECT *
		FROM board
	</select>
	<select id="getPage" resultType="BoardModel">
		SELECT *
		FROM board
		ORDER BY `boardSeq` DESC LIMIT #{page} , #{pageSize}
	</select>
	<select id="boardCount" resultType="int">
		SELECT count(*)
		from board
	</select>
	<select id="findByBoardSeq" resultType="BoardModel">
		SELECT *
		FROM board
		Where boardSeq = #{seq}
	</select>
	<update id="boardViewCountUp">
		UPDATE board
		SET boardViewCount = boardViewCount + 1
		Where boardSeq = #{seq}	
	</update>
	<update id="updateByBoardSeq" parameterType="BoardModel">
		UPDATE board
		SET boardTitle = #{boardTitle},
			boardWriter = #{boardWriter},
			boardContent = #{boardContent}
		Where boardSeq = #{boardSeq}
	</update>
	<insert id="insertBoard" parameterType="BoardModel">
		INSERT INTO `board`
			(`boardContent`, `boardTitle`, `boardWriter`,`boardDate`)
			VALUES (#{boardContent},#{boardTitle},#{boardWriter},NOW());
	</insert>
</mapper>